$BgColorPrimary: #FFFDEE;
$BgColorSecondary: #F0ECD6;
$BgColorDark: #0E0C07;

$TextColorBlack: #000000;
$TextColorWhite: #FFFFFF;
$TextColorYellow: #F3C653;
$TextColorBrown: #C79002;
$TextColorBrownLight: #494848;
$TextColorGrey:  #7A7A7A;
$TextColorGreyLight: #B4B4B4;
$SecondaryTextColor: #E5E5E5;

$Cubic: cubic-bezier(0.4, 0, 0.2, 1);


    