ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

address {
    font-style: normal;
}

img {
    display: block;
    width: 100%;
    height: auto;
}