<div class="button-container">
  <div class="button-container">
    <p class="button-container__text">Кнопки десктоп, таблет, мобайл</p>

    <button class="button" type="button">Забронювати столик</button>
    <button class="button" type="button">Забронювати номер</button>
    <button class="button" type="button">Переглянути меню</button>
    <button class="button" type="button">Переглянути ціни</button>
    <button class="button" type="button">Детальніше</button>
    <button class="button" type="button">Переглянути ціни</button>
    <button class="button" type="button">Забронювати столик</button>
    <button class="button-reservation" type="button">
      Оформити бронювання
    </button>
  </div>

  <div class="button-container">
    <p class="button-container__text">Кнопки для модалок десктоп і таблет</p>

    <button class="button-modal" type="button">Оформити бронювання</button>
  </div>
</div>
