<footer class="footer">
  <div class="footer__container">
    <a class="footer-logo" href="#">mimiho</a>
    <nav class="footer-nav">
      <ul class="footer-nav__list">
        <li class="footer-nav__item">
          <a class="footer-nav__link" href="./index.html">Головна</a>
        </li>
        <li class="footer-nav__item">
          <a class="footer-nav__link" href="./restaurant.html">Ресторан</a>
        </li>
        <li class="footer-nav__item">
          <a class="footer-nav__link" href="./hotel.html">Готель</a>
        </li>
      </ul>

      <ul class="footer-social">
        <li class="footer-social__item">
          <a
            class="footer-social__link"
            href="https://web.telegram.org/z/"
            target="_blank"
            rel="noopener noreferrer nofollow"
            ><span class="footer-social__span">Telegram</span>
            <svg class="footer-social__icon" width="24" height="24">
              <use href="./images/sptite.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>

        <li class="footer-social__item">
          <a
            class="footer-social__link"
            href="https://uk-ua.facebook.com/"
            target="_blank"
            rel="noopener noreferrer nofollow"
            ><span class="footer-social__span">Facebook</span>
            <svg class="footer-social__icon" width="24" height="24">
              <use href="/src/images/sptite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>

        <li class="footer-social__item">
          <a
            class="footer-social__link"
            href="https://www.instagram.com/"
            target="_blank"
            rel="noopener noreferrer nofollow"
            ><span class="footer-social__span">Instagram</span>
            <svg class="footer-social__icon" width="24" height="24">
              <use href="/src/images/sptite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
