<section class="section triple">
  <div class="triple__gradients">
    <div class="container">
      <div class="triple__box">
        <div class="triple__company">
          <p class="triple__text--up">Amet minim mollit non</p>
          <p class="triple__company-title">MIMIHO</p>
        </div>
        <div class="triple__info">
          <h2 class="triple__title">Трьохмісний номер</h2>
          <p class="triple__text--down">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
        <div class="triple__img">
          <picture>
            <source
              srcset="
                ./images/hotel_lux_mob.webp    1x,
                ./images/hotel_lux_mob@2x.webp 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/hotel_lux_mob.jpg    1x,
                ./images/hotel_lux_mob@2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                ./images/hotel_lux_desk.webp    1x,
                ./images/hotel_lux_desk@2x.webp 2x
              "
              media="(max-width: 1023px)"
            />

            <img
              srcset="
                ./images/hotel_lux_tab.jpg    1x,
                ./images/hotel_lux_tab@2x.jpg 2x
              "
              alt="Трьохмісний номер"
            />
          </picture>
        </div>
        <div class="triple__button">
          <button class="button button--black" type="button">
            <a href="./rooms.html">Детальніше</a>
          </button>
          <button
            class="button button--black js-open-modal"
            data-modal="price"
            type="button"
          >
            Переглянути ціни
          </button>
        </div>

        <div class="triple__wrapper">
          <div class="slider">
            <div class="slider__box">
              <picture>
                <source
                  srcset="
                    ./images/hotel_slider_desk_2.webp    1x,
                    ./images/hotel_slider_desk_2@2x.webp 2x
                  "
                  type="image/webp"
                  media="(min-width: 1280px)"
                  sizes="254px"
                />
                <source
                  srcset="
                    ./images/hotel_slider_desk_2.jpg    1x,
                    ./images/hotel_slider_desk_2@2x.jpg 2x
                  "
                  media="(min-width: 1280px)"
                  sizes="254px"
                />
                <source
                  srcset="
                    ./images/hotel_slider_tab_2.webp    1x,
                    ./images/hotel_slider_tab_2@2x.webp 2x
                  "
                  type="image/webp"
                  media="(min-width: 1024px)"
                  sizes="194px"
                />
                <source
                  srcset="
                    ./images/hotel_slider_tab_2.jpg    1x,
                    ./images/hotel_slider_tab_2@2x.jpg 2x
                  "
                  media="(min-width: 1024px)"
                  sizes="194px"
                />
                <source
                  srcset="
                    ./images/hotel_slider_tab_2.webp    1x,
                    ./images/hotel_slider_tab_2@2x.webp 2x
                  "
                  type="image/webp"
                  media="(max-width: 1023px)"
                  sizes="194px"
                />
                <img
                  class="hotel-section__slider--img"
                  srcset="
                    ./images/hotel_slider_tab_2.jpg    1x,
                    ./images/hotel_slider_tab_2@2x.jpg 2x
                  "
                  alt="Hotel triple"
                />
              </picture>
            </div>
            <div class="slider__button-box">
              <button type="button" class="slider__button">
                <svg class="slider__icon">
                  <use href="./images/sptite.svg#icon-dash-left"></use>
                </svg>
              </button>
              <button type="button" class="slider__button">
                <svg class="slider__icon">
                  <use href="./images/sptite.svg#icon-dash-right"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
