<section class="hotel-lux">
  <div class="hotel-lux--flex container">
    <div class="hotel-lux__text">
      <p class="hotel-lux__text hotel-lux__text--up">Amet minim mollit non</p>
      <h2 class="hotel-lux__title">MIMIHO</h2>
      <p class="hotel-lux__subtitle">
        <span class="hotel-lux__subtitle hotel-lux__subtitle--uppercase"
          >ДВОМІСНИЙ НОМЕР</span
        >
        люкс
      </p>
      <p class="hotel-lux__text hotel-lux__text--down">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <picture class="hotel-lux__images">
      <source
        srcset="
          ./images/hotel_lux_mob.webp    1x,
          ./images/hotel_lux_mob@2x.webp 2x
        "
        type="image/webp"
        media="(max-width: 1023px)"
      />
      <source
        srcset="./images/hotel_lux_mob.jpg 1x, ./images/hotel_lux_mob@2x.jpg 2x"
        media="(max-width: 1023px)"
      />

      <source
        srcset="
          ./images/hotel_lux_desk.webp    1x,
          ./images/hotel_lux_desk@2x.webp 2x
        "
        type="image/webp"
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./images/hotel_lux_desk.jpg    1x,
          ./images/hotel_lux_desk@2x.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./images/hotel_lux_tab.webp    1x,
          ./images/hotel_lux_tab@2x.webp 2x
        "
        type="image/webp"
      />
      <img
        class="hotel-lux__img"
        srcset="./images/hotel_lux_tab.jpg 1x, ./images/hotel_lux_tab@2x.jpg 2x"
        alt="Hotel lux"
      />
    </picture>
  </div>
  <div class="hotel-lux__slider">
    <!-- slider -->
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./images/hotel_slider_desk_1.webp    1x,
                ./images/hotel_slider_desk_1@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/hotel_slider_desk_1.jpg    1x,
                ./images/hotel_slider_desk_1@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/hotel_slider_tab_1.webp    1x,
                ./images/hotel_slider_tab_1@2x.webp 2x
              "
              type="image/webp"
            />
            <img
              srcset="
                ./images/hotel_slider_tab_1.jpg    1x,
                ./images/hotel_slider_tab_1@2x.jpg 2x
              "
              alt="Hotel lux"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./images/hotel_slider_desk_2.webp    1x,
                ./images/hotel_slider_desk_2@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/hotel_slider_desk_2.jpg    1x,
                ./images/hotel_slider_desk_2@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/hotel_slider_tab_2.webp    1x,
                ./images/hotel_slider_tab_2@2x.webp 2x
              "
              type="image/webp"
            />
            <img
              srcset="
                ./images/hotel_slider_tab_2.jpg    1x,
                ./images/hotel_slider_tab_2@2x.jpg 2x
              "
              alt="Hotel lux"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./images/hotel_slider_desk_3.webp    1x,
                ./images/hotel_slider_desk_3@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/hotel_slider_desk_3.jpg    1x,
                ./images/hotel_slider_desk_3@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/hotel_slider_tab_3.webp    1x,
                ./images/hotel_slider_tab_3@2x.webp 2x
              "
              type="image/webp"
            />
            <img
              srcset="
                ./images/hotel_slider_tab_3.jpg    1x,
                ./images/hotel_slider_tab_3@2x.jpg 2x
              "
              alt="Hotel lux"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="
                ./images/hotel_slider_desk_4.webp    1x,
                ./images/hotel_slider_desk_4@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/hotel_slider_desk_4.jpg    1x,
                ./images/hotel_slider_desk_4@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/hotel_slider_tab_4.webp    1x,
                ./images/hotel_slider_tab_4@2x.webp 2x
              "
              type="image/webp"
            />
            <img
              srcset="
                ./images/hotel_slider_tab_4.jpg    1x,
                ./images/hotel_slider_tab_4@2x.jpg 2x
              "
              alt="Hotel lux"
            />
          </picture>
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
    <!-- button -->
    <div class="hotel-lux__button">
      <button class="button button--black" type="button">
        <a href="./rooms.html">Детальніше</a>
      </button>
      <button
        class="button button--black js-open-modal"
        data-modal="price"
        type="button"
      >
        Переглянути ціни
      </button>
    </div>
  </div>
</section>

<script type="module">
  import Swiper from 'swiper/swiper-bundle.esm.js';
  import 'swiper/swiper-bundle.css';
  var swiper = new Swiper('.swiper', {
    slidesPerView: 2,
    spaceBetween: 40,
    slidesPerGroup: 2,
    loop: true,
    loopFillGroupWithBlank: true,
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });
</script>
