
<section class="hp-section-common">
    <div class="container"></div>
        <!--Section wrapper-->
        <div class="hp-seection-common__wrapper">
         <!--First row-->
        <div class="hp-section-common__first-row">
            <div class="hp-section-common__first-row--wrapper">
                <h2 class="hp-section-common__title-h2">Amet minim mollit non</h2>
                <h3 class="hp-section-common__title-h3">MIMIHO</h3>
                <p class="hp-section-common__paragraph">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </div>
            <img class="hp-section-common__image-1" 
            srcset="/src/images/restaurant-interior-mobile@2x.jpg 2x"
            src="/src/images/restaurant-interior-mobile.jpg" 
            alt="interior design">
        </div>
         <!--Second row-->
         <div class="hp-section-common__second-row">
            <img class="hp-section-common__image-2" 
            srcset="/src/images/hp-section-common-2@2x.jpg 2x"
            src="/src/images/hp-section-common-2.jpg" 
            alt="interior design">
            <p class="hp-section-common__paragraph--golden">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
          <!--Third row slider-->
        </div>
    </div>
</section>
