<section class="hp-section-common">
    <!--Section wrapper-->
<div class="hp-seection-common-wrapper">
     <!--First row-->
    <div class="hr-section-common__first-row">
        <h2>Amet minim mollit non</h2>
        <h3>MIMIHO</h3>
        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
       
    </div>
     <!--Second row-->
     <div class="hp-section-common__second-row">
        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
     </div>
      <!--Third row slider-->

</div>
</section>