 <section class="hp-section-room">
  <div class="container">
      <!--Section wrapper-->
    <div class="hp-section-room__wrapper"> 
        <!-- First row -->
      <div class="hp-section-room__first-row">
        <div class="hp-section-room__first-row__text-wrapper">
          <p class="hp-section-room__subtitle">Amet minim mollit non</p>
          <h2 class="hp-section-room__title">MIMIH<span>O</span></h2>
          <p class="hp-section-room__paragraph">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
        <picture class="hp-section-room__first-row__image">
          <source
            srcset="
              /src/images/hp-section-room-1_desktop.jpg    1x,
              /src/images/hp-section-room-1_desktop@2x.jpg 2x
            "
            media="(min-width: 1280px)"
            width="460"
            height="574"
          />
          <source
          srcset="
            /src/images/hp-section-room-1_tablet.jpg    1x,
            /src/images/hp-section-room-1_tablet@2x.jpg 2x
          "
          media="(min-width: 1024px)"
          width="400"
          height="524"
          />
          <source
            srcset="
              /src/images/hp-section-room-1_mobile.jpg    1x,
              /src/images/hp-section-room-1_mobile@2x.jpg 2x
            "
            media="(min-width: 414px)"
            width="244"
            height="322"
          />
          <source
            srcset="
              /src/images/hp-section-room-1_mobile.jpg    1x,
              /src/images/hp-section-room-1_mobile@2x.jpg 2x
            "
            media="(max-width: 413px)"
            width="244"
            height="322"
          />
          <img
            class="hp-section-room__image-1"
            src="/src/images/hp-section-room-1_mobile.jpg"
            alt="bedroom"
          />
        </picture>
      </div> 
        <!-- Second row -->
      <div class="hp-section-room__second-row">
        <div class="hp-section-room__second-row__text-wrapper">
          <p class="hp-section-room__paragraph--golden">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
        <picture>
          <source
            srcset="
              /src/images/hp-section-room-2_desktop.jpg    1x,
              /src/images/hp-section-room-2_desktop@2x.jpg 2x
            "
            media="(min-width: 1280px)"
            width="460"
            height="574"
          />

          <source
            srcset="
              /src/images/hp-section-room-2_tablet.jpg   1x,
              /src/images/hp-section-room-2_tablet@2x.jpg 2x
            "
            media="(min-width: 1024px)"
            width="350"
            height="500"
          />

          <source
            srcset="
              /src/images/hp-section-room-2_mobile.jpg    1x,
              /src/images/hp-section-room-2_mobile@2x.jpg 2x
            "
            media="(min-width: 414px)"
            width="200"
            height="278"
          />

          <source
            srcset="
              /src/images/hp-section-room-2_mobile.jpg    1x,
              /src/images/hp-section-room-2_mobile@2x.jpg 2x
            "
            media="(max-width: 413px)"
            width="200"
            height="278"
          />

          <img
            class="hp-section-room__image-2"
            src="/src/images/hp-section-room-2_mobile.jpg"
            alt="hotel hall"
          />
        </picture>
      </div> 
      <!--Third row slider-->
      <div class="hp-section-room__slider-container">
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <!-- Slide 1 -->
            <div class="swiper-slide">
              <picture class="hp-section-room__slide-picture">
        
                <source
                  srcset="
                    /src/images/hp-section-room-slide-1_desktop.jpg    1x,
                    /src/images/hp-section-room-slide-1_desktop@2x.jpg 2x
                  "
                  media="(min-width: 1280px)"
                  width="254"
                  height="254"
                />

                <source
                  srcset="
                    /src/images/hp-section-room-slide-1_tablet.jpg    1x,
                    /src/images/hp-section-room-slide-1_tablet@2x.jpg 2x
                  "
                  media="(min-width: 1024px)"
                  width="194"
                  height="194"
                />

                <source
                  srcset="
                    /src/images/hp-section-room-slide-1_mobile.jpg    1x,
                    /src/images/hp-section-room-slide-1_mobile@2x.jpg 2x
                  "
                  media="(min-width: 414px)"
                  width="245"
                  height="245"
                />

                <source
                  srcset="
                    /src/images/hp-section-room-slide-1_mobile.jpg    1x,
                    /src/images/hp-section-room-slide-1_mobile@2x.jpg 2x
                  "
                  media="(max-width: 413px)"
                  width="245"
                  height="245"
                />

                <img src="/src/images/hp-section-room-slide-1_mobile.jpg"
                alt="room examples">
              </picture>
            </div>
            <!-- Slide 2 -->
            <div class="swiper-slide">
              <picture class="hp-section-room__slide-picture">
                <source
                  srcset="
                    /src/images/hp-section-room-slide-2_desktop.jpg    1x,
                    /src/images/hp-section-room-slide-2_desktop@2x.jpg 2x
                  "
                  media="(min-width: 1280px)"
                  width="254"
                  height="254"
                />

                <source
                  srcset="
                    /src/images/hp-section-room-slide-2_tablet.jpg    1x,
                    /src/images/hp-section-room-slide-2_tablet@2x.jpg 2x
                  "
                  media="(min-width: 1024px)"
                  width="194"
                  height="194"
                />

                <source
                  srcset="
                    /src/images/hp-section-room-slide-2_mobile.jpg    1x,
                    /src/images/hp-section-room-slide-2_mobile@2x.jpg 2x
                  "
                  media="(min-width: 414px)"
                  width="245"
                  height="245"
                />

                <source
                  srcset="
                    /src/images/hp-section-room-slide-2_mobile.jpg    1x,
                    /src/images/hp-section-room-slide-2_mobile@2x.jpg 2x
                  "
                  media="(max-width: 413px)"
                  width="245"
                  height="245"
                />

                <img src="/src/images/hp-section-room-slide-2_mobile.jpg"
                alt="room examples">
              </picture>
            </div>
            <!-- Slide 3 -->
            <div class="swiper-slide">
              <picture class="hp-section-room__slide-picture">
                <source
                  srcset="
                    /src/images/hp-section-room-slide-3_desktop.jpg    1x,
                    /src/images/hp-section-room-slide-3_desktop@2x.jpg 2x
                  "
                  media="(min-width: 1280px)"
                  width="254"
                  height="254"
                />

                <source
                  srcset="
                    /src/images/hp-section-room-slide-3_tablet.jpg    1x,
                    /src/images/hp-section-room-slide-3_tablet@2x.jpg 2x
                  "
                  media="(min-width: 1024px)"
                  width="194"
                  height="194"
                />

                <source
                  srcset="
                    /src/images/hp-section-room-slide-3_mobile.jpg    1x,
                    /src/images/hp-section-room-slide-3_mobile@2x.jpg 2x
                  "
                  media="(min-width: 414px)"
                  width="245"
                  height="245"
                />

                <source
                  srcset="
                    /src/images/hp-section-room-slide-3_mobile.jpg    1x,
                    /src/images/hp-section-room-slide-3_mobile@2x.jpg 2x
                  "
                  media="(max-width: 413px)"
                  width="245"
                  height="245"
                />

                <img src="/src/images/hp-section-room-slide-3_mobile.jpg"
                alt="room examples">
              </picture>
            </div>
            <!-- Slide 4 -->
            <div class="swiper-slide">
              <picture class="hp-section-room__slide-picture">
                <source
                  srcset="
                    /src/images/hp-section-room-slide-4_desktop.jpg    1x,
                    /src/images/hp-section-room-slide-4_desktop@2x.jpg 2x
                  "
                  media="(min-width: 1280px)"
                  width="254"
                  height="254"
                />

                <source
                  srcset="
                    /src/images/hp-section-room-slide-4_tablet.jpg    1x,
                    /src/images/hp-section-room-slide-4_tablet@2x.jpg 2x
                  "
                  media="(min-width: 1024px)"
                  width="194"
                  height="194"
                />

                <source
                  srcset="
                    /src/images/hp-section-room-slide-4_mobile.jpg    1x,
                    /src/images/hp-section-room-slide-4_mobile@2x.jpg 2x
                  "
                  media="(min-width: 414px)"
                  width="245"
                  height="245"
                />

                <source
                  srcset="
                    /src/images/hp-section-room-slide-4_mobile.jpg    1x,
                    /src/images/hp-section-room-slide-4_mobile@2x.jpg 2x
                  "
                  media="(max-width: 413px)"
                  width="245"
                  height="245"
                />

                <img src="/src/images/hp-section-room-slide-4_mobile.jpg"
                alt="room examples">
              </picture>
            </div>
            
          </div>
          <div class="swiper-pagination"></div>

          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>  
    </div>   
  </div>
</section> 