<section class="section-order">
  <div class="container">
    <h3 class="brand-title--revers">MIMINO</h3>
    <h2 class="section-order__title">Готель</h2>
    <p class="section-order__text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit.
    </p>

    <div class="section-order__wrap">
      <div>
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <picture>
                <source
                  srcset="
                    ./images/order-slide-1.jpg    1x,
                    ./images/order-slide-1@2x.jpg 2x
                  "
                  width="270"
                  height="270"
                />
                <img
                  src="./images/order-slide-1.jpg"
                  alt=""
                  width="270"
                  height="270"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source
                  srcset="
                    ./images/order-slide-2.jpg    1x,
                    ./images/order-slide-2@2x.jpg 2x
                  "
                  width="270"
                  height="270"
                />
                <img
                  src="./images/order-slide-2.jpg"
                  alt=""
                  width="270"
                  height="270"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source
                  srcset="
                    ./images/order-slide-3.jpg    1x,
                    ./images/order-slide-3@2x.jpg 2x
                  "
                  width="270"
                  height="270"
                />
                <img
                  src="./images/order-slide-3.jpg"
                  alt=""
                  width="270"
                  height="270"
                />
              </picture>
            </div>
            ...
          </div>

          <div class="swiper-pagination"></div>

          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>

          <div class="swiper-scrollbar"></div>
        </div>
      </div>

      <div>
        <button
          class="button button--black section-order__button js-open-modal"
          data-modal="room"
          type="button"
        >
          Забронювати номер
        </button>
        <button
          class="button button--black section-order__button section-order__button--look js-open-modal"
          data-modal="price"
          type="button"
        >
          Переглянути ціни
        </button>
      </div>
    </div>
  </div>
</section>
