<section class="section-contacts">
  <div class="container">
    <div class="section-contacts__wrap">
      <div>
        <h2 class="hidden-title">Контакти</h2>
        <h3 class="brand-title">МІМІНО</h3>
        <p class="section-subtitle">Ресторанно-готельний комплекс</p>
        <ul>
          <li class="section-contacts__list">
            <p class="section-contacts__text section-contacts__text-restaurant">
              Ресторан
            </p>
            <div
              class="section-contacts__item section-contacts__item-restaurant"
            >
              <svg width="24" height="40">
                <use href="./images/sptite.svg#icon-phone"></use>
              </svg>
              <p class="section-contacts__tel">095 555 95 33</p>
            </div>
          </li>
          <li class="section-contacts__list">
            <p class="section-contacts__text section-contacts__text-hotel">
              Готель
            </p>
            <div class="section-contacts__item">
              <svg width="24" height="40">
                <use href="./images/sptite.svg#icon-phone"></use>
              </svg>
              <p class="section-contacts__tel">066 849 10 89</p>
              <p class="section-contacts__tel">067 275 85 40</p>
            </div>
          </li>
          <li class="section-contacts__list">
            <p class="section-contacts__text hidden-title">Адреса</p>
            <div class="section-contacts__item section-contacts__item-address">
              <svg width="24" height="40">
                <use href="./images/sptite.svg#icon-location"></use>
              </svg>
              <p class="section-contacts__address">
                Україна, м. Полтава, вул. Маршала Бірюзова, 15
              </p>
            </div>
          </li>
        </ul>
      </div>
      <picture class="section-contacts__img">
        <source
          srcset="./images/map-mobile.jpg 1x, ./images/map-mobile@2x.jpg 2x"
          media="(max-width: 1023px)"
          width="384"
          height="220"
        />
        <source
          srcset="./images/map-tablet.jpg 1x, ./images/map-tablet@2x.jpg 2x"
          media="(max-width: 1279px)"
          width="535"
          height="412"
        />
        <source
          srcset="./images/map-desktop.jpg 1x, ./images/map-desktop@2x.jpg 2x"
          media="(min-width: 1280px)"
          width="634"
          height="412"
        />
        <img src="./images/map-mobile.jpg" alt="мапа проїзду" />
      </picture>
    </div>
  </div>
</section>
