<section class="section-contacts">
  <div class="container">
    <h2 class="hidden-title">Контакти</h2>
    <h3 class="brand-title">МІМІНО</h3>
    <p class="section-subtitle">Ресторанно-готельний комплекс</p>
    <ul>
      <li class="section-contacts__list">
        <p class="section-contacts__text section-contacts__text-restaurant">
          Ресторан
        </p>
        <div class="section-contacts__item">
          <svg width="24" height="40">
            <use href="./images/sptite.svg#icon-phone"></use>
          </svg>
          <p class="section-contacts__tel">095 555 95 33</p>
        </div>
      </li>
      <li class="section-contacts__list">
        <p class="section-contacts__text section-contacts__text-hotel">
          Готель
        </p>
        <div class="section-contacts__item">
          <svg width="24" height="40">
            <use href="./images/sptite.svg#icon-phone"></use>
          </svg>
          <p class="section-contacts__tel">066 849 10 89</p>
          <p class="section-contacts__tel">067 275 85 40</p>
        </div>
      </li>
      <li class="section-contacts__list">
        <p class="section-contacts__text hidden-title">Адреса</p>
        <div class="section-contacts__item section-contacts__item-address">
          <svg width="24" height="40">
            <use href="./images/sptite.svg#icon-location"></use>
          </svg>
          <p class="section-contacts__address">
            Україна, м. Полтава, вул. Маршала Бірюзова, 15
          </p>
        </div>
      </li>
    </ul>
    <img
      srcset="./images/map-mobile.jpg 1x, ./images/map-mobile@2x.jpg 2x"
      src="./images/map-mobile.jpg"
      alt="мапа проїзду"
      width="384"
    />
  </div>
</section>
