<section class="restaurant">
    <div class="container">
        <div class="restaurant__head">
            <p class="restaurant__pretitle">MIMIHO</p>
            <h3 class="restaurant__title">Ресторан</h3>
            <p class="restaurant__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
                officia consequat duis enim velit
                mollit.</p>
        </div>

        <div class="hp-section-common__slider-container">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <picture>
                            <source srcset="./images/rest1-des1x.jpg 1x, 
                                ./images/rest1-des2x.jpg 2x" media="(min-width: 1280px)" sizes="254px">
                            <source srcset="./images/rest1-tab1x.jpg 1x, 
                                ./images/rest1-tab2x.jpg 2x" media="(min-width: 1024px)" sizes="194px">
                            <source srcset="./images/rest1-mob1x.jpg 1x, 
                                ./images/rest1-mob2x.jpg 2x" media="(max-width: 1023px)" sizes="245px">
                            <img src="./images/rest1-tab2x.jpg" alt="Десерт">
                        </picture>
                    </div>
                    <div class="swiper-slide">
                        <picture>
                            <source srcset="./images/rest2-des1x.jpg 1x, 
                                                    ./images/rest2-des2x.jpg 2x" media="(min-width: 1280px)" sizes="254px">
                            <source srcset="./images/rest2-tab1x.jpg 1x, 
                                                    ./images/rest2-tab2x.jpg 2x" media="(min-width: 1024px)" sizes="194px">
                            <source srcset=" ./images/rest2-mob1x.jpg 1x, ./images/rest2-mob2x.jpg 2x"
                                media="(max-width: 1023px)" sizes="245px">
                            <img src="./images/rest2-tab2x.jpg" alt="Сніданок">
                        </picture>
                    </div>
                    <div class="swiper-slide">
                        <picture>
                            <source srcset="./images/rest3-des1x.jpg 1x, 
                                                                        ./images/rest3-des2x.jpg 2x"
                                media="(min-width: 1280px)" sizes="254px">
                            <source srcset="./images/rest3-tab1x.jpg 1x, 
                                                                        ./images/rest3-tab2x.jpg 2x"
                                media="(min-width: 1024px)" sizes="194px">
                            <source srcset="./images/rest3-mob1x.jpg 1x, ./images/rest3-mob2x.jpg 2x"
                                media="(max-width: 1023px)" sizes="245px">
                            <img src=" ./images/rest3-tab2x.jpg" alt="Вечеря">
                        </picture>
                    </div>
                    </div class="swiper-arrows">
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-pagination"></div>
                    </div>
                    </div>
                    </div>





        <!-- <div class="restaurant__order">
        <div class="swiper swiper-block">
            <div class="swiper-wrapper swiper-picture">
                <div class="swiper-slide swiper-picture-item">
                    <picture>
                        <source srcset="./images/rest1-des1x.jpg 1x,
                        ./images/rest1-des2x.jpg 2x" media="(min-width: 1280px)" sizes="254px">
                        <source srcset="./images/rest1-tab1x.jpg 1x,
                        ./images/rest1-tab2x.jpg 2x" media="(min-width: 1024px)" sizes="194px">
                        <source srcset="./images/rest1-mob1x.jpg 1x,
                        ./images/rest1-mob2x.jpg 2x" media="(max-width: 1023px)" sizes="245px">
                        <img src="./images/rest1-tab2x.jpg" alt="Десерт">
                    </picture>
                </div>
                <div class="swiper-slide swiper-picture-item">
                    <picture>
                        <source srcset="./images/rest2-des1x.jpg 1x,
                                            ./images/rest2-des2x.jpg 2x" media="(min-width: 1280px)" sizes="254px">
                        <source srcset="./images/rest2-tab1x.jpg 1x,
                                            ./images/rest2-tab2x.jpg 2x" media="(min-width: 1024px)" sizes="194px">
                        <source srcset=" ./images/rest2-mob1x.jpg 1x, ./images/rest2-mob2x.jpg 2x"
                            media="(max-width: 1023px)" sizes="245px">
                        <img src="./images/rest2-tab2x.jpg" alt="Сніданок">
                    </picture>
                </div>
                <div class="swiper-slide swiper-picture-item">
                    <picture>
                        <source srcset="./images/rest3-des1x.jpg 1x,
                                                                ./images/rest3-des2x.jpg 2x"
                            media="(min-width: 1280px)" sizes="254px">
                        <source srcset="./images/rest3-tab1x.jpg 1x,
                                                                ./images/rest3-tab2x.jpg 2x"
                            media="(min-width: 1024px)" sizes="194px">
                        <source srcset="./images/rest3-mob1x.jpg 1x, ./images/rest3-mob2x.jpg 2x"
                            media="(max-width: 1023px)" sizes="245px">
                        <img src=" ./images/rest3-tab2x.jpg" alt="Вечеря">
                    </picture>
                </div>
            </div>
        </div>
        <ul class="restaurant-btn">
            <li><button class="button btn" type="button">Забронювати столик</button></li>
            <li><button class="button" type="button">Переглянути меню</button></li>
        </ul>
        </div> -->
    </div>
</section>