<div class="modal modal-table" data-modal="table">
  <form name="table-form" autocomplete="on" novalidate class="table-form">
    <svg class="modal__cross js-modal-close" width="24" height="24">
      <use href="./../src/images/sptite.svg#icon-x-black"></use>
    </svg>
    <p class="modal__title modal__title--table">ЗАБРОНЮВАТИ СТОЛИК</p>
    <div class="main-table-wrapper">
      <div class="modal-input-wraper">
        <input
          type="text"
          class="modal__input modal-table-name"
          name="modal-table-name"
          id="modal-table-name"
          placeholder="Ваше ім’я"
        />
        <label class="modal__lable" for="modal-table-name"
          >На кого забронювати столик?</label
        >
      </div>
      <div class="modai-input-wraper">
        <input
          type="tel"
          class="modal__input modal-table-phone js-inputmask"
          name="modal-table-phone"
          id="modal-table-phone"
        />
        <lable class="modal__lable" for="modal-table-phone"
          >Номер телефону
        </lable>
      </div>
      <div class="select-wrapper">
        <select
          name="modal-table-visitors"
          class="modal-table-visitors modal-select js-select"
          id="modal-table-visitors"
        >
          <option value="1">1</option>
          <option value="2" selected>2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
        <label
          class="modal__lable modal__lable--lastT"
          for="modal-table-visitors"
          >Столик на яку кількість осіб?</label
        >
      </div>

      <div class="select-wrapper">
        <select
          name="modal-table-date"
          class="modal-table-date modal-select js-select"
          id="modal-table-date"
        >
          <option value="Сьогодні" selected>Сьогодні</option>
          <option value="Завтра">Завтра</option>
          <option value="Вчора">Вчора</option>
        </select>
        <label
          class="modal__lable modal__lable--date modal__lable--last"
          for="modal-table-date"
          >На яку дату бронювати?</label
        >
      </div>
    </div>
    <button class="button-modal button-modal--phone" type="submit">
      Оформити бронювання
    </button>
  </form>
</div>
<div class="overlay js-overlay-modal"></div>
