<section class="hero">
    <div class="container">
        
             <h1 class="hero__title">MIMIHO</h1>
             <h2 class="hero__subtitle">Ресторан</h2>
              <p class="hero__discr">
                 СМАК ЖИТТЯ 24/7
               </p>
                 <div class="hero__box">
                       <a class="hero__link" href="https://goo.gl/maps/E1b13K49wonfj6eRA" target="_blank" 
                         rel="noopener noreferrer nofollow">
                          <svg class="hero__icon" width="24" height="24">
                              <use href="/src/images/sptite.svg#icon-location"></use>
                          </svg>
                         Україна, м. Полтава, <br>
                          вул. Маршала Бірюзова, 15
                      </a>
                     <ul class="hero__list">
                          <li class="hero__item">
                              <button type="button">Забронювати столик</button>
                           </li>
                           <li class="hero__item">
                               <button type="button">Переглянути меню</button>
                           </li>
                     </ul>      
                 </div>
      
  </div>
</section>