<section class="hp-section-common">
    <div class="container">
        <!--Section wrapper-->
        <h2 class="visually-hidden">About us</h2>
        <div class="hp-section-common__wrapper">
         <!--First row-->
        <div class="hp-section-common__first-row">
            <div class="hp-section-common__first-row--wrapper">
                <h3 class="hp-section-common__title-h2">Amet minim mollit non</h3>
                <h4 class="hp-section-common__title-h3">MIMIHO</h4>
                <p class="hp-section-common__paragraph">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </div>
            <picture class="hp-section-common__first-row-image">


                <source
                srcset="/src/images/r-section-kitchen-1_desktop.jpg 1x, /src/images/r-section-kitchen-1_desktop@2x.jpg 2x"
                media="(min-width: 1280px)"
                width="460"
                height="574"
                >
 
 
                <source
                srcset="/src/images/r-section-kitchen-1_tablet.jpg 1x, /src/images/r-section-kitchen-1_tablet@2x.jpg 2x"
                media="(min-width: 1024px)"
                width="400"
                height="524"
                >
 
 
                <source
                srcset="/src/images/r-section-kitchen-1_mobile.jpg 1x, /src/images/r-section-kitchen-1_mobile@2x.jpg 2x"
                media="(min-width: 414px)"
                width="244"
                height="322"
                >
 
 
                <source
                srcset="/src/images/r-section-kitchen-1_mobile.jpg 1x, /src/images/r-section-kitchen-1_mobile@2x.jpg 2x"
                media="(max-width: 413px)"
                width="244"
                height="322"
                >
 
 
                <img class="hp-section-common__image-1"
                src="/src/images/r-section-kitchen-1_mobile.jpg"
                alt="interior design"
                loading="lazy"
                >
            </picture>
 
        </div>
         <!--Second row-->
         <div class="hp-section-common__second-row">
            <picture class="hp-section-common__second-row-image">
              
                <source
                srcset="/src/images/r-section-kitchen-2_desktop.jpg 1x, /src/images/r-section-kitchen-2_desktop@2x.jpg 2x"
                media="(min-width: 1280px)"
                width="460"
                height="574"
                >
 
 
                <source
                srcset="/src/images/r-section-kitche2_tablet.jpg 1x, /src/images/r-section-kitchen-2_tablet@2x.jpg 2x"
                media="(min-width: 1024px)"
                width="350"
                height="500"
                >
 
 
                <source
                srcset="/src/images/r-section-kitchen-2_mobile.jpg 1x, /src/images/r-section-kitchen-2_mobile@2x.jpg 2x"
                media="(min-width: 414px)"
                width="200"
                height="278"
                >
 
 
                <source
                srcset="/src/images/r-section-kitchen-2_mobile.jpg 1x, /src/images/r-section-kitchen-2_mobile@2x.jpg 2x"
                media="(max-width: 413px)"
                width="200"
                height="278"
                >
 
 
                <img class="hp-section-common__image-2"
                src="/src/images/r-section-kitchen-2_mobile.jpg"
                alt="interior design"
                loading="lazy"
                >
 
 
            </picture>
 
            <div class="hp-section-common__second-row-text-wrapper">
                <p class="hp-section-common__paragraph--golden">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </div>
        </div>
          <!--Third row slider-->
          
          <!-- Swiper begins-->
  <div class="hp-section-common__slider-container">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
           <!-- Slide 1 -->
        <div class="swiper-slide">
            <picture class="hp-section-common__first-row-image">
                <source
               srcset="/src/images/r-section-kitchen-slide-1_desktop.jpg 1x, /src/images/r-section-kitchen-slide-1_desktop@2x.jpg 2x"
               media="(min-width: 1280px)"
               width="254"
               height="254"
               >
                <source
               srcset="/src/images/r-section-kitchen-slide-1_tablet.jpg 1x, /src/images/r-section-kitchen-slide-1_tablet@2x.jpg 2x"
               media="(min-width: 1024px)"
               width="194"
               height="194"
               >
                <source
               srcset="/src/images/r-section-kitchen-slide-1_mobile.jpg 1x, /src/images/r-section-kitchen-slide-1_mobile@2x.jpg 2x"
               media="(min-width: 414px)"
               width="245"
               height="245"
               >
                <source
               srcset="/src/images/r-section-kitchen-slide-1_mobile.jpg 1x, /src/images/r-section-kitchen-slide-1_mobile@2x.jpg 2x"
               media="(max-width: 413px)"
               width="245"
               height="245"
               >
                <img
               src="/src/images/r-section-kitchen-slide-1_mobile.jpg"
               alt="interior design"
               loading="lazy"
               >
           </picture>
  
        </div>
         <!-- Slide 2 -->
        <div class="swiper-slide">
            <picture class="hp-section-common__first-row-image">
                <source
               srcset="/src/images/r-section-kitchen-slide-2_desktop.jpg 1x, /src/images/r-section-kitchen-slide-2_desktop@2x.jpg 2x"
               media="(min-width: 1280px)"
               width="254"
               height="254"
               >
  
               <source
               srcset="/src/images/r-section-kitchen-slide-2_tablet.jpg 1x, /src/images/r-section-kitchen-slide-2_tablet@2x.jpg 2x"
               media="(min-width: 1024px)"
               width="194"
               height="194"
               >
  
               <source
               srcset="/src/images/r-section-kitchen-slide-2_mobile.jpg 1x, /src/images/r-section-kitchen-slide-2_mobile@2x.jpg 2x"
               media="(min-width: 414px)"
               width="245"
               height="245"
               >
  
               <source
               srcset="/src/images/r-section-kitchen-slide-2_mobile.jpg 1x, /src/images/r-section-kitchen-slide-2_mobile@2x.jpg 2x"
               media="(max-width: 413px)"
               width="245"
               height="245"
               >
  
               <img
               src="/src/images/r-section-kitchen-slide-2_mobile.jpg"
               alt="interior design"
               loading="lazy"
               >
           </picture>

        </div>
         <!-- Slide 3 -->
        <div class="swiper-slide">
            <picture class="hp-section-common__first-row-image">
                <source
               srcset="/src/images/r-section-kitchen-slide-1_desktop.jpg 1x, /src/images/r-section-kitchen-slide-1_desktop@2x.jpg 2x"
               media="(min-width: 1280px)"
               width="254"
               height="254"
               >
                <source
               srcset="/src/images/r-section-kitchen-slide-1_tablet.jpg 1x, /src/images/r-section-kitchen-slide-1_tablet@2x.jpg 2x"
               media="(min-width: 1024px)"
               width="194"
               height="194"
               >
                <source
               srcset="/src/images/r-section-kitchen-slide-1_mobile.jpg 1x, /src/images/r-section-kitchen-slide-1_mobile@2x.jpg 2x"
               media="(min-width: 414px)"
               width="245"
               height="245"
               >
                <source
               srcset="/src/images/r-section-kitchen-slide-1_mobile.jpg 1x, /src/images/r-section-kitchen-slide-1_mobile@2x.jpg 2x"
               media="(max-width: 413px)"
               width="245"
               height="245"
               >
                <img
               src="/src/images/r-section-kitchen-slide-1_mobile.jpg"
               alt="interior design"
               loading="lazy"
               >
           </picture>
  
        </div>
         <!-- Slide 4 -->
        <div class="swiper-slide">
            <picture class="hp-section-common__first-row-image">
                <source
               srcset="/src/images/r-section-kitchen-slide-2_desktop.jpg 1x, /src/images/r-section-kitchen-slide-2_desktop@2x.jpg 2x"
               media="(min-width: 1280px)"
               width="254"
               height="254"
               >
  
               <source
               srcset="/src/images/r-section-kitchen-slide-2_tablet.jpg 1x, /src/images/r-section-kitchen-slide-2_tablet@2x.jpg 2x"
               media="(min-width: 1024px)"
               width="194"
               height="194"
               >
  
               <source
               srcset="/src/images/r-section-kitchen-slide-2_mobile.jpg 1x, /src/images/r-section-kitchen-slide-2_mobile@2x.jpg 2x"
               media="(min-width: 414px)"
               width="245"
               height="245"
               >
  
               <source
               srcset="/src/images/r-section-kitchen-slide-2_mobile.jpg 1x, /src/images/r-section-kitchen-slide-2_mobile@2x.jpg 2x"
               media="(max-width: 413px)"
               width="245"
               height="245"
               >
  
               <img
               src="/src/images/r-section-kitchen-slide-2_mobile.jpg"
               alt="interior design"
               loading="lazy"
               >
           </picture>

        </div>
        
        
      </div>

      <!-- Swiper ends -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>
  
  
  
          </div>
  </div>


        


            
    </div>
</section>
