<section class="k-section-menu">
  <div class="container">
    <h2 class="k-section-menu__title">Меню ресторана</h2>
    <div class="k-menu">
      <div class="k-menu__item">
        <h3 class="k-menu__title">Гарячі страви</h3>

        <div class="k-menu__dish k-dish">
          <div class="k-dish__block">
            <h4 class="k-dish__title">Борщ з телятини з квасолею</h4>
            <p class="k-dish__desc">
              Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
              помідори, зелень, сметана
            </p>
          </div>
          <p class="k-dish__weight">400 г</p>
          <p class="k-dish__price">240 грн</p>
        </div>

        <div class="k-menu__dish k-dish">
          <div class="k-dish__block">
            <h4 class="k-dish__title">Суп сирний з куркою</h4>
            <p class="k-dish__desc">
              Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень
            </p>
          </div>
          <p class="k-dish__weight">400 г</p>
          <p class="k-dish__price">200 грн</p>
        </div>

        <div class="k-menu__dish k-dish">
          <div class="k-dish__block">
            <h4 class="k-dish__title">Паста карбонара</h4>
            <p class="k-dish__desc">
              Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень
            </p>
          </div>
          <p class="k-dish__weight">350 г</p>
          <p class="k-dish__price">430 грн</p>
        </div>

        <div class="k-menu__dish k-dish">
          <div class="k-dish__block">
            <h4 class="k-dish__title">Стейк зі свинини</h4>
            <p class="k-dish__desc">
              Свиняча вирізка, спеціі, подається з соусом солодкий чилі та
              овочами
            </p>
          </div>
          <p class="k-dish__weight">400 г</p>
          <p class="k-dish__price">500 грн</p>
        </div>

        <div class="k-menu__dish k-dish">
          <div class="k-dish__block">
            <h4 class="k-dish__title">Горбуша в соусі з білого вина</h4>
            <p class="k-dish__desc">
              Ніжна горбуша, вершковий соус на основі білого вина
            </p>
          </div>
          <p class="k-dish__weight">400 г</p>
          <p class="k-dish__price">400 грн</p>
        </div>

        <h3 class="k-menu__title">Гарніри та закуски</h3>

        <div class="k-menu__dish k-dish">
          <div class="k-dish__block">
            <h4 class="k-dish__title">Запечені овочі</h4>
            <p class="k-dish__desc">Кабачок, перець, помідор, баклажан</p>
          </div>
          <p class="k-dish__weight">200 г</p>
          <p class="k-dish__price">230 грн</p>
        </div>

        <div class="k-menu__dish k-dish">
          <div class="k-dish__block">
            <h4 class="k-dish__title">Картопля фрі</h4>
            <p class="k-dish__desc">Картопля, соус томатний</p>
          </div>
          <p class="k-dish__weight">150 г</p>
          <p class="k-dish__price">160 грн</p>
        </div>

        <div class="k-menu__dish k-dish">
          <div class="k-dish__block">
            <h4 class="k-dish__title">Картопля по-селянськи</h4>
            <p class="k-dish__desc">Картопля, спеції, соус пікантний</p>
          </div>
          <p class="k-dish__weight">150 г</p>
          <p class="k-dish__price">160 грн</p>
        </div>

        <div class="k-menu__dish k-dish">
          <div class="k-dish__block">
            <h4 class="k-dish__title">Хрумкі соління з бочки</h4>
            <p class="k-dish__desc">
              Огірок солений, помідор квашений, квашена капуста, морква
              по-корейські
            </p>
          </div>
          <p class="k-dish__weight">250 г</p>
          <p class="k-dish__price">350 грн</p>
        </div>

        <div class="k-menu__dish k-dish">
          <div class="k-dish__block">
            <h4 class="k-dish__title">Крильця курячі в медовому соусі</h4>
            <p class="k-dish__desc">
              Крильця курячі, гірчично-медовий соус, подається з морквою,
              селерою і соусом блючиз
            </p>
          </div>
          <p class="k-dish__weight">400 г</p>
          <p class="k-dish__price">420 грн</p>
        </div>
      </div>
    </div>
  </div>
</section>
