<section class="rm-section-hero">
  <div class="container">
    <h1 class="rm-section-hero__title title">
      ДВОМІСНИЙ НОМЕР <span class="rm-section-hero__subtitle">люкс</span>
    </h1>
    <p class="rm-section-hero__text text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <button
      type="button"
      class="rm-section-hero__button button js-open-modal"
      data-modal="price"
    >
      Переглянути ціни
    </button>

    <div class="rm-section-hero__contacts">
      <address
        class="rm-section-hero__addres"
        width="285"
        height="56"
      ></address>

      <div class="rm-section-hero__socials">
        <a class="rm-section-hero__link" href="#">
          <svg class="rm-section-hero__icon" width="24" height="24">
            <use href="./images/sptite.svg#icon-telegram"></use>
          </svg>
        </a>
        <a class="rm-section-hero__link" href="#">
          <svg class="rm-section-hero__icon" width="24" height="24">
            <use href="./images/sptite.svg#icon-facebook"></use>
          </svg>
        </a>
        <a class="rm-section-hero__link" href="#">
          <svg class="rm-section-hero__icon" width="24" height="24">
            <use href="./images/sptite.svg#icon-instagram"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
