<section class="rm-section-hero">
  <div class="rm-section-hero__shadow"></div>
  <div class="container">
    <h1 class="rm-section-hero__title">ДВОМIСНИЙ НОМЕР люкс</h1>
    <p class="rm-section-hero__text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <button
      type="button"
      class="rm-section-hero__button button js-open-modal"
      data-modal="price"
    >
      Переглянути ціни
    </button>

    <div class="rm-section-hero__contacts">
      <!-- <address class="rm-section-hero__addres" width="285" height="56"></address> -->
      <a
        class="rm-section-hero__addres hero__link"
        href="https://goo.gl/maps/E1b13K49wonfj6eRA"
        target="_blank"
        rel="noopener noreferrer nofollow"
      >
        <svg class="hero__icon" width="24" height="24">
          <use href="/src/images/sptite.svg#icon-location"></use>
        </svg>
        Україна, м. Полтава, <br />
        вул. Маршала Бірюзова, 15
      </a>

      <div class="rm-section-hero__socials">
        <a class="rm-section-hero__link" href="#">
          <svg class="rm-section-hero__icon" width="24" height="24">
            <use href="./images/sptite.svg#icon-telegram"></use>
          </svg>
        </a>
        <a class="rm-section-hero__link" href="#">
          <svg class="rm-section-hero__icon" width="24" height="24">
            <use href="./images/sptite.svg#icon-facebook"></use>
          </svg>
        </a>
        <a class="rm-section-hero__link" href="#">
          <svg class="rm-section-hero__icon" width="24" height="24">
            <use href="./images/sptite.svg#icon-instagram"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
