<section class="rm-section-comfort__title">
  <h1>ЗРУЧНОСТІ У НОМЕРІ</h1>
  <p>
    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
    Velit officia consequat duis enim velit mollit. Exercitation veniam
    consequat sunt nostrud amet.
  </p>
  <ul>
    <li>
        <h2>ЗАГАЛЬНІ</h2>
        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    </li>
    <li>
        <h2>ВАННА КІМНАТА</h2>
        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    </li>
    <li>
        <h2>СПАЛЬНЯ</h2>
        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. </p>
        <p></p>
    </li>
    <li>
        <h2>КУХНЯ</h2>
        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
    </li>
    <li>
        <h2>МЕДІА</h2>
        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
        <p></p>
    </li>
  </ul>
  <button type="button">ОФОРМИТИ БРОНЮВАННЯ</button>
  
</section>
