<section class="rm-section-comfort container">
  <div class="rm-section-comfort__amenities">
    <h2 class="rm-section-comfort__title title">зручності у номері</h2>
    <p class="rm-section-comfort__text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
  </div>
  <ul class="rm-section-comfort__list list">
    <li class="rm-section-comfort__item item">
      <h3 class="rm-section-comfort__subtitle">загальні</h3>
      <div class="rm-section-comfort__content">
        <p class="rm-section-comfort__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <p class="rm-section-comfort__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
    </li>
    <li class="rm-section-comfort__item item">
      <h3 class="rm-section-comfort__subtitle">ванна кімната</h3>
      <div class="rm-section-comfort__content">
        <p class="rm-section-comfort__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
        <p class="rm-section-comfort__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
    </li>
    <li class="rm-section-comfort__item item">
      <h3 class="rm-section-comfort__subtitle">спальня</h3>
      <div class="rm-section-comfort__content">
        <p class="rm-section-comfort__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint.
        </p>
        <p class="rm-section-comfort__text"></p>
      </div>
    </li>
    <li class="rm-section-comfort__item item">
      <h3 class="rm-section-comfort__subtitle">кухня</h3>
      <div class="rm-section-comfort__content">
        <p class="rm-section-comfort__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint.
        </p>
        <p class="rm-section-comfort__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint.
        </p>
      </div>
    </li>
    <li class="rm-section-comfort__item item">
      <h3 class="rm-section-comfort__subtitle">медіа</h3>
      <div class="rm-section-comfort__content">
        <p class="rm-section-comfort__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
        <p class="rm-section-comfort__text"></p>
      </div>
    </li>
  </ul>
  <div class="rm-section-comfort__buttons">
    <button type="button" class="rm-section-comfort__button button-reservation">
      ОФОРМИТИ БРОНЮВАННЯ
    </button>
    <a href="./hotel.html" class="rm-section-comfort__link link"
      >Повернутися до перегляду номерів <svg class="rm-section-comfort__icon" width="24" height="24">
        <use href="./images/sptite.svg#icon-small-dash"></use>
      </svg></a
    >
    
  </div>
</section>
