.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: 30px;
  gap: 10px;
  background-color: #605b5b;

  &__text {
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: 0.02em;
    color: #ffffff;
  }
}

.button {
  padding: 14px 35px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;

  color: #f3c653;
  background: rgba(0, 0, 0, 0.4);

  border: 2px solid #ffffff;
  border-radius: 25px;
  cursor: pointer;

  &--black {
    min-width: 236px;
    padding: 14px 0;
    background-color: $TextColorBlack;
  }
  &:hover,
  &:focus {
    background: #ffffff;
    border-color: #f3c653;
  }
}

.button-reservation {
  min-width: 384px;
  padding: 19px 43px;

  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;

  color: #ffffff;
  background: #000000;
  border: 1px solid #f3c653;
  border-radius: 25px;
  cursor: pointer;

  @media screen and (min-width: $tablet) {
    min-width: 434px;
    padding: 17px 37px;

    font-size: 24px;
    line-height: 1.208;
  }

  &:hover,
  &:focus {
    background: #f3c653;
    color: #000000;
  }
}

.button-modal {
  min-width: 320px; //я змінив мінімальну ширину з 384 на 320
  padding: 19px 43px;

  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;

  color: #ffffff;
  background: #000000;
  border: 1px solid #f3c653;
  cursor: pointer;

  @media screen and (min-width: $tablet) {
    min-width: 592px;
    padding: 17px 116px;

    font-size: 24px;
    line-height: 1.208;
    margin-top: 40px; //додав мержин для модалок
  }

  &:hover,
  &:focus {
    background: #f3c653;
    color: #000000;
  }
}
