.container {
        max-width: 100%;
        padding: 0 15px;
        margin-left: auto;
        margin-right: auto;

        @media screen and (min-width: $mobile ) {
                max-width: $mobile;
            }

        @media screen and (min-width: 768px) and (max-width: 1279px) {
           max-width: $tablet;
           padding: 0 47px;
        }

        @media screen and (min-width: $desktop ) {
            max-width: $desktop;
            padding: 0 85px;
        }
    
}