/*Mobile style - up to 414px*/

@media screen and (max-width: 413px) {
  .hp-section-room {
    padding-top: 16px;
    padding-bottom: 20px;
    overflow: hidden;

    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 32px;
    }

    &__first-row {
      display: flex;
      flex-direction: column;
      width: 100%;
      
      &__text-wrapper {
        text-align: end;

        span {
          letter-spacing: 0;
        }
      }

      &__image {
        margin-right: auto;
      }
    }

    &__second-row {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 20px;
      width: 100%;
    }

    &__subtitle {
      font-family: 'Times New Roman';
      font-size: 20px;
      line-height: 1.15;
      color: $TextColorGreyLight;
    }

    &__title {
      margin-bottom: 16px;
      font-family: 'Film P3';
      font-weight: 700;
      font-size: 40px;
      line-height: 1.07;
      letter-spacing: 0.3em;
      color: $TextColorBrownLight;
    }

    &__image-1 {
      margin-bottom: 32px;
      box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
      border-radius: 2px;
    }

    &__image-2 {
      box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
      border-radius: 2px;
    }

    &__paragraph {
      max-width: 242px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      font-size: 12px;
      line-height: 1.25;
      letter-spacing: 0.02em;
      color: $TextColorGrey;
      margin-bottom: 28px;
      margin-left: auto;

      &--golden {
        max-width: 163px;
        font-family: 'Montserrat',sans-serif;
        font-weight: 600;
        font-size: 12px;
        line-height: 1.25;
        letter-spacing: 0.02em;
        color: $TextColorBrown;
      }
    }

    &__slider-container{
      min-height: 230px;
      margin-left: -160px;
      overflow: hidden;
    }

    .swiper{

      &-button-next, &-button-prev{
        margin-top: 100px;
       }
     
       &-button-prev{
         margin-right: calc(100% - 250px);
       }
     
       &-button-next{
         margin-right: calc(100% - 280px);
       }
     
       &-wrapper {
         width: 515px;
       }
    }
  }
}

@media screen and (min-width: $mobile) {
  .hp-section-room {
    padding-top: 16px;
    padding-bottom: 20px;
    overflow: hidden;

    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 32px;
    }

    &__first-row {
      display: flex;
      flex-direction: column;
      width: 100%;
      
      &__text-wrapper {
        text-align: end;

        span {
          letter-spacing: 0;
        }
      }

      &__image {
        margin-right: auto;
      }
    }

    &__second-row {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 20px;
      width: 100%;
    }

    &__subtitle {
      font-family: 'Times New Roman';
      font-size: 20px;
      line-height: 1.15;
      color: $TextColorGreyLight;
    }

    &__title {
      margin-bottom: 16px;
      font-family: 'Film P3';
      font-weight: 700;
      font-size: 40px;
      line-height: 1.07;
      letter-spacing: 0.3em;
      color: $TextColorBrownLight;
    }

    &__image-1 {
      margin-bottom: 32px;
      box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
      border-radius: 2px;
    }

    &__image-2 {
      box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
      border-radius: 2px;
    }

    &__paragraph {
      max-width: 242px;
      font-family: 'Montserrat';
      font-weight: 600;
      font-size: 12px;
      line-height: 1.25;
      letter-spacing: 0.02em;
      color: $TextColorGrey;
      margin-bottom: 28px;
      margin-left: auto;

      &--golden {
        max-width: 163px;
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 12px;
        line-height: 1.25;
        letter-spacing: 0.02em;
        color: $TextColorBrown;
        margin-left: auto;
      }

    }
    &__slider-container{
        min-height: 230px;
        margin-left: -160px;
        overflow: hidden;
    }

    .swiper{

      &-button-next, &-button-prev{
        margin-top: 100px;
       }
     
       &-button-prev{
         margin-right: calc(100% - 250px);
       }
     
       &-button-next{
         margin-right: calc(100% - 280px);
       }
     
       &-wrapper {
         width: 515px;
       }
    }
  }
}

/*Tablet  - from 1024px*/
@media screen and (min-width: $tablet) {
  .hp-section-room {
    margin-top: -24px;
    padding-bottom: 32px;
    display: flex;

    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center;
      gap: 0;
    }

    &__first-row {
      flex-direction: row-reverse;
      justify-content: flex-start;
      align-items: center;
      gap: 48px;

      &__image {
        position: relative;
        z-index: 2;
        margin-right: 0;
      }
    }

    &__second-row {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 48px;
      margin-top: -60px;
    }

    &__subtitle {
      font-family: 'Times New Roman';
      font-size: 32px;
      line-height: 1.15;
      color: $TextColorGreyLight;
      margin-bottom: 4px;
    }

    &__title {
      font-family: 'Film P3';
      font-weight: 700;
      font-size: 64px;
      line-height: 1.07;
      letter-spacing: 0.3em;
      color: $TextColorBrownLight;
      margin-bottom: 24px;
    }

    &__image-1 {
      margin-top: -24px;
      box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
      border-radius: 2px;
      margin-left: auto;
    }

    &__image-2 {
      box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
      border-radius: 2px;
    }

    &__paragraph {
      max-width: 419px;
      font-family: 'Montserrat';
      font-weight: 600;
      font-size: 16px;
      line-height: 1.25;
      letter-spacing: 0.02em;
      color: $TextColorGrey;
      margin-bottom: 28px;

      &--golden {
        max-width: 311px;
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.02em;
        color: $TextColorBrown;
      }
    }
    
    &__slider-container{
      min-height: 280px;
      margin-right: auto;
      margin-top: -60px;
      margin-left: 0;
    }

    .swiper{

      &-button-next, &-button-prev{
        margin-top: 130px;
       }
     
       &-button-prev{
         margin-left: 0;
       }
     
       &-button-next{
         margin-right: calc(100% - 130px);
       }
     
       &-wrapper {
         width: 515px;
       }
    }
  }
}

/*Desktop  - from 1280px*/
@media screen and (min-width: $desktop) {
  .hp-section-room {
    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center;
    }

    &__first-row {
      margin-bottom: 32px;
      align-items: center;
      gap: 67px;

      &-image {
        margin-right: 0;
        position: relative;
        z-index: 2;
      }
    }

    &__second-row {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 45px;
      margin-top: -100px;
    }

    &__subtitle {
      font-family: 'Times New Roman';
      font-size: 32px;
      line-height: 1.15;
      color: $TextColorGreyLight;
      margin-bottom: 4px;
    }

    &__title {
      font-family: 'Film P3';
      font-weight: 700;
      font-size: 64px;
      line-height: 1.07;
      letter-spacing: 0.3em;
      color: $TextColorBrownLight;
      margin-bottom: 24px;
    }

    &__image-1 {
      margin-top: -24px;
      box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
      border-radius: 2px;
      margin-left: auto;
    }

    &__image-2 {
      box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
      border-radius: 2px;
    }

    &__paragraph {
      max-width: 488px;
      font-family: 'Montserrat';
      font-weight: 600;
      font-size: 16px;
      line-height: 1.25;
      letter-spacing: 0.02em;
      color: $TextColorGrey;
      margin-bottom: 28px;

      &--golden {
        max-width: 312px;
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.02em;
        color: $TextColorBrown;
      }
    }

    &__slider-container{
      min-height: 380px;
      min-height: 330px;
      margin-top: -60px;
    }

    .swiper{

      &-button-next, &-button-prev{
        margin-top: 170px;
       }
     
       &-button-prev{
        margin-left: 0;
        }
    
      &-button-next{
        margin-right: calc(100% - 130px);
        }
     
       &-wrapper {
         width: 515px;
       }
    }
  }  
}

.swiper{
  overflow: visible;
}

// .swiper-wrapper{
//   overflow: hidden;
// }

.swiper-button-next::after, .swiper-button-prev::after{
  display: none;
}

.swiper-button-next {
  background-image: url(/src/images/slider_arrow-right.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-prev {
  background-image: url(/src/images/sliderl_arrow-left.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}