/*Mobile style - up to 414px*/

@media screen and (max-width: 413px) {
  .container {
    max-width: 413px;
  }

  .hp-section-common {
    padding: 16px 15px 20px 15px;

    &__wrapper {
      display: flex;
    }

    &__first-row {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      margin-bottom: 32px;
    }

    &__second-row {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;

      &-text-wrapper {
        
      }
    }

    &__title-h2 {
      font-family: 'Times New Roman';
      font-size: 20px;
      line-height: 1.15;
      color: $TextColorGreyLight;
      margin-bottom: 12px;
    }

    &__title-h3 {
      font-family: 'Film P3';
      font-weight: 700;
      font-size: 40px;
      line-height: 1.07;
      letter-spacing: 0.3em;
      color: $TextColorBrownLight;
      margin-bottom: 12px;
    }

    &__image-1 {
      width: 244px;
      display: block;
      box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
      border-radius: 2px;
      margin-left: auto;
    }

    &__image-2 {
      display: block;
      width: 200px;
      box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
      border-radius: 2px;
    }

    &__paragraph {
      font-family: 'Montserrat';
      font-weight: 600;
      font-size: 12px;
      line-height: 1.25;
      letter-spacing: 0.02em;
      color: $TextColorGrey;
      margin-bottom: 28px;

      &--golden {
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 12px;
        line-height: 1.25;
        letter-spacing: 0.02em;
        color: $TextColorBrown;
      }
    }
  }
}

@media screen and (min-width: 414px) {
  .container {
    width: $mobile;
  }
  .hp-section-common {
    padding: 16px 15px 20px 15px;

    &__wrapper {
      display: flex;
     
    }

    &__first-row {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 32px;
    }

    &__second-row {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;

      &-text-wrapper {
        width: 258px;
      }
    }

    &__title-h2 {
      font-family: 'Times New Roman';
      font-size: 20px;
      line-height: 1.15;
      color: $TextColorGreyLight;
      margin-bottom: 12px;
    }

    &__title-h3 {
      font-family: 'Film P3';
      font-weight: 700;
      font-size: 40px;
      line-height: 1.07;
      letter-spacing: 0.3em;
      color: $TextColorBrownLight;
      margin-bottom: 12px;
    }

    &__image-1 {
      display: block;
      max-width: 244;
      box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
      border-radius: 2px;
      margin-left: auto;
    }

    &__image-2 {
      display: block;
      width: 200px;
      box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
      border-radius: 2px;
    }

    &__paragraph {
      max-width: 258px;
      font-family: 'Montserrat';
      font-weight: 600;
      font-size: 12px;
      line-height: 1.25;
      letter-spacing: 0.02em;
      color: $TextColorGrey;
      margin-bottom: 28px;

      &--golden {
        max-width: 163px;
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 12px;
        line-height: 1.25;
        letter-spacing: 0.02em;
        color: $TextColorBrown;
      }
    }
  }
}

/*Tablet  - from 1024px*/
@media screen and (min-width: $tablet) {
  .container {
    width: $tablet;
  }

  .hp-section-common {
    padding: 120px 47px 32px 47px;

    &__wrapper {
      display: flex;
      flex-direction: column;
    
    }

    &__first-row {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-bottom: -16px;
      gap: 26px;
      align-items: center;

      &--wrapper {
        width: 439px;
      }
    }

    &__second-row {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;

      &-text-wrapper {
        width: 312px;
      }
    }

    &__title-h2 {
      font-family: 'Times New Roman';
      font-size: 32px;
      line-height: 1.15;
      color: $TextColorGreyLight;
      margin-bottom: 4px;
    }

    &__title-h3 {
      font-size: 64px;
      line-height: 1.07;
      margin-bottom: 24px;
    }

    &__image-1 {
      min-width: 400px;
      display: block;
      margin-left: 0;
      margin-top: -32px;
    }

    &__image-2 {
      display: inline-block;
      width: 350px;
    }

    &__paragraph {
      min-width: 439px;
      font-size: 16px;
      margin-bottom: 0;

      &--golden {
        min-width: 312px;
        font-size: 16px;
      }
    }
  }
}

/*Desktop  - from 1280px*/
@media screen and (min-width: 1280px) {
  .container {
    width: $desktop;
  }

  .hp-section-common {
    padding: 120px 85px 50px 85px;
   

    &__wrapper {
      display: flex;
      flex-direction: column;
    }

    &__first-row {
      display: flex;
      justify-content: center;
      margin-bottom: -16px;
      gap: 26px;
      align-items: center;

      &--wrapper {
        width: 518px;
      }
    }

    &__second-row {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;

      &-text-wrapper {
        width: 312px;
      }
    }

    &__title-h2 {
      font-family: 'Times New Roman';
      font-size: 32px;
      line-height: 1.15;
      color: $TextColorGreyLight;
      margin-bottom: 4px;
    }

    &__title-h3 {
      font-size: 64px;
      line-height: 1.07;
      margin-bottom: 24px;
    }

    &__image-1 {
      min-width: 460px;
      display: block;
      margin-left: 0;
      margin-top: -32px;
    }

    &__image-2 {
      display: inline-block;
      width: 460px;
    }

    &__paragraph {
      min-width: 518px;
      font-size: 16px;
      margin-bottom: 0;

      &--golden {
        min-width: 312px;
        font-size: 16px;
      }
    }
  }
}