.hero{
    position: relative;
    max-width: 100%;
    min-height: auto;
    margin-left: auto;
    margin-right: auto;

    padding: 181px 0 20px 0;

    

    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    background-image: linear-gradient(to right,
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)),
        url(/src/images/bar.jpg);
    
      @media (min-resolution: 2dppx) {
    
        background-image: linear-gradient(to right,
            rgba(0, 0, 0, 0.65),
            rgba(0, 0, 0, 0.65)),
          url(/src/images/bar@2x.jpg);


    

    @media screen and  (min-width: $tablet) {

        

         min-width: 1024px;

        padding-top: 188px;
        padding-bottom: 15px;
      
        
        }     

    }

    @media screen and  (min-width: $desktop) {
    
        min-width: 1280px;

        padding-top: 164px;
        padding-bottom: 65px;
       
        
        }
    
        

 &__title{
    max-width: 303px;
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 24px;
    font-family: 'Film P3', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 1.08;
    letter-spacing: 0.3em;
    color: $TextColorWhite;
    
    @media screen and (min-width: $tablet) {
        
        margin-bottom: 16px;
        max-width: 404px;
        font-size: 128px;
    }

     @media screen and (min-width: $desktop) {
        margin-bottom: 32px;
    }
}
  &__subtitle{
    margin-bottom: 40px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: $TextColorWhite;

     @media screen and (min-width: $tablet) {
        margin-bottom: 56px;
        font-size: 20px;
        line-height: 1.2;
    }

     @media screen and (min-width: $desktop) {
        margin-bottom: 64px;
    }
}
  &__discr{
    margin-bottom: 113px;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: $TextColorWhite;

    @media screen and (min-width: $tablet) {
        margin-bottom: 145px;
        font-size: 36px;
        line-height: 1.14;
    }

     @media screen and (min-width: $desktop) {
        margin-bottom: 144px;
    }


}
  &__box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 58px;
    @media screen and (min-width: $tablet) {
        margin-bottom: 25px;
        justify-content: space-between;


    }

     @media screen and (min-width: $desktop) {
        margin-bottom: 0;
       
    }

}
  &__link{
    display: none;    
    
    @media screen and (min-width: $tablet) {
      min-width: 285px;
      position: static;
      top: 64px;
      right: 20px;
      display: flex;
      align-items: center;
      padding: 8px 8px 8px 10px;
      border: 1px solid rgba(243, 198, 83, 0.7);
      border-radius: 2px;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.25;
      letter-spacing: 0.01em;
      text-align: start;
      color: $SecondaryTextColor;
    }
}
  &__icon{
    display: block;
    fill: $TextColorYellow;
    margin-right: 10px;
}
  &__list{
    display: flex;
    flex-direction: column;
    gap:24px;

     @media screen and (min-width: $tablet) {
      display: flex;
      flex-direction: revert;
      gap: 40px;
    }
}
}    
//   &__item:not(:last-child){
//     margin-bottom: 24px;
    
//     @media screen and (min-width: $tablet) {
//       margin-bottom: 0;
//     }
// }
// &__item:nth-child(even){
//     @media screen  and (min-width: $tablet){
//       margin-left: 60px;  
//     }
   




.hero__social{
    display: flex;


    
   
    
    @media screen  and (min-width: $desktop){
      display: none; 
    }
}

.hero__item--social + .hero__item--social{
 margin-left: 20px;
}

.hero__icon--social{
    display: block;
    fill: $TextColorYellow;
}

.button--herotable{
  min-width: 236px;
  padding: 14px 24px;
}

.button--heroroom{
  
  min-width: 232px ;
  padding: 14px 24px;
  }
  