.section-order {
    padding-top: 24px;
    padding-bottom: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    


    @media screen and (min-width: 1024px) {
        padding-top: 48px;
        padding-bottom: 48px;
    }

    // @media screen and (min-width: 1024px) {
    //  &__wrap {
    //     display: flex;
    //     flex-direction: row;
    // }
    // }
   

    &__title {
        padding-top: 12px;
        padding-left: 185px;
        font-family: Montserrat;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.22;
        color: $TextColorWhite;

        @media screen and (min-width: 768px) {
            font-size: 24px;
            padding-top: 16px;
            padding-left: 612px;
        }
    }

    &__text {
        padding-top: 20px;
        padding-bottom: 48px;
        margin-left: 17px;
        max-width: 243px;
        font-family: Montserrat;
        font-weight: 600;
        font-size: 12px;
        line-height: 1.22;
        color: $TextColorGreyLight;

        @media screen and (min-width: 768px) {
            font-size: 16px;
            max-width: 549px;
            margin-left: 157px;
        }
    }

    &__button {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 16px;
        margin-top: 40px;
    }

    &__button--look {
        margin-bottom: 0;
        margin-top: 0;
    }
}

.brand-title--revers {
    font-family: "Film P3";
    font-weight: 700;
    font-size: 40px;
    line-height: 1.07;
    letter-spacing: 0.3em;
    color: $TextColorWhite;
    margin-bottom: 12px;
    text-align: center;

    @media screen and (min-width: 768px) {
        font-size: 64px;
        text-align: start;
        padding-left: 497px;
    }
}

// .swiper-slide-next {
//     width: 170px !important;
//     height: 270px !important;
// }

// .swiper-slide-duplicate {
//     width: 170px !important;
//     height: 270px !important;
// }

// .swiper-slide-prev {
//     width: 170px !important;
//     height: 270px !important;
// }

// .swiper-slide-active {
//     width: 170px !important;
//     height: 270px !important;
// }