.hp-section-common {
  &__wrapper {
    display: flex;
  }

  &__title-h2 {
    font-family: 'Times New Roman';
    font-size: 20px;
    line-height: 1.15;
    color: $TextColorGreyLight;
  }

  &__title-h3 {
    font-family: 'Film P3';
    font-weight: 700;
    font-size: 40px;
    line-height: 1.07;
    letter-spacing: 0.3em;
  }

  &__image-1 {
    max-width: 244px;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
  }

  &__image-2 {
    max-width: 200px;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
  }

  &__paragraph {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: $TextColorBrown;
  }
}
