.section-contacts {
    padding-top: 36px;
    padding-bottom: 32px;
    overflow: hidden;

    &__text {
        font-family: Montserrat;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.219;
        color: $TextColorBrown;
    }

    &__text-restaurant {
        margin-right: 22px;
    }

    &__text-hotel {
        margin-right: 54px;
    }

    &__tel {
        font-family: Montserrat;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.219;
        letter-spacing: 0.02em;
        color: $TextColorBrownLight;
    }

    &__address {
        font-family: Montserrat;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.218;
        letter-spacing: 0.01em;
        color: $TextColorBrownLight;
    }

    &__item {
        margin-top: 16px;
        padding: 0 8px;
        display: flex;
        gap: 8px;
        align-items: center;
        border: 0.5px solid $TextColorYellow;
        border-radius: 2px;
        background-color: $TextColorWhite;
    }

    &__item-address {
        margin-left: 121px;
        margin-bottom: 32px;
        max-width: 260px;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-right: 33px;
        padding-left: 10px;
    }

    &__list {
       display: flex;
       align-items: center;
    }
}

.container {
    max-width: 414px;
}

.hidden-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.brand-title {
    font-family: Film P3;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.075;
    letter-spacing: 0.3em;
    color: $TextColorBrownLight;
}

.section-subtitle {
    margin-top: 12px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.218;
    letter-spacing: 0.02em;
    color: $TextColorGrey;
}
