.restaurant {
    overflow: hidden;
    padding-top: 24px;
    padding-bottom: 40px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    max-width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
        url(../images/restor-desk1x.jpg);

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
            url(../images/restor-desk2x.jpg);
    }


    @media screen and (min-width: 1024px) {
        padding-top: 48px;
        padding-bottom: 96px;
    }


    @media screen and (min-width: 1280px) {
        padding-bottom: 94px;
    }
}

.restaurant__head {
    margin-bottom: 40px;
    margin-left: 140px;

    @media screen and (min-width: 1024px) {

        margin-left: 278px;
    }

    @media screen and (min-width: 1280px) {

        margin-left: 338px;
    }

}

.restaurant__pretitle {
    font-family: 'Film P3';
    font-style: 'Bold';
    font-size: 40px;
    line-height: calc(43/40);
    color: $TextColorWhite;
    margin-bottom: 12px;
    letter-spacing: 0.3em;

    @media screen and (min-width: 1024px) {
        font-size: 64px;
        line-height: calc(69/64);
        margin-bottom: 16px;
    }


}

.restaurant__title {

    font-style: 'Bold';
    font-size: 20px;
    line-height: calc(24/20);
    color: $TextColorWhite;
    margin-bottom: 20px;
    letter-spacing: 0.02em;

    @media screen and (min-width: 1024px) {
        font-size: 24px;
        line-height: calc(29/24);
        margin-bottom: 8px;

    }
}

.restaurant__text {

    font-style: 'SemiBold';
    font-size: 12px;
    line-height: calc(15/12);
    color: $TextColorGreyLight;
    letter-spacing: 0.02 em;
    max-width: 259px;


    @media screen and (min-width: 1024px) {
        font-size: 16px;
        line-height: calc(20/16);
        max-width: 610px;
    }


}

/*@media screen and (min-width: 1024px) {
    .restaurant__order {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;

    }
}*/

.restaurant__options {
    display: flex;
    gap: 30;
    margin-left: 41px;
    max-height: 270px;
    width: 886px;
    overflow: hidden;
    position: relative;

    @media screen and (min-width: 1024px) {

        max-width: 886px;
        margin-left: 30px;
        overflow: visible;
    }

          @media screen and (min-width: $desktop) {
    
             justify-content: space-between;
          }

}

.restaurant__proposal {
    max-width: 270px;
}

.proposal-second {
    max-width: 162px;
}

// .proposal-third {
//    max-width: 162px;
// }

.restaurant__svg {
    display: block;
    width: 98px;
    height: 32px;
    margin-top: 16px;
    margin-left: 41px;
    margin-bottom: 32px;

    @media screen and (min-width: 1024px) {
        /*margin: 0;
        position: absolute;
        left: 250px;*/
        display: none;
    
    }
}

@media screen and (min-width: 1024px) {
    .restaurant__tablet {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

}

.restaurant-btn {
    text-align: center;

   
       align-items: flex-end;
       align-content: flex-end;
       min-width: 236px;
       flex-direction: column;
       display: flex;
       align-self: flex-end;

     
   
.restaurant-button {
    display: block;
    padding-left: 22px;
    padding-right: 22px;
    min-width: 236px;
}
}

.btn {
    margin-bottom: 16px;
}



/*.swiper-block {
    max-width: 245px;

    @media screen and (min-width:1024px) {
        max-width: 194px;

    }

    @media screen and (min-width:1280px) {
        max-width: 254px;

    }
}
.swiper-picture {
    margin-bottom: 80px;

    @media screen and (min-width:1024px) {
        margin-bottom: 0;

    }
}

*/



