.modal {
  opacity: 0;
  visibility: hidden;
  max-width: $mobile;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 40px 14px;
  border-radius: 3px;
  transition: 0.3s all;
  background: #f0ecd6;
  @media screen and (min-width: $tablet) {
    min-width: 712px;
    padding: 60px;
  }

  &__lable {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;
    color: $TextColorBrown;
    display: flex;
    margin-left: 14px;
    margin-bottom: 20px;
    margin-top: 8px;
  }

  &__cross {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
  }

  &__title {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.05em;
    color: $TextColorBlack;
    margin-bottom: 48px;
  }
  &__input {
    width: 100%;
    height: 64px;
    background: $BgColorSecondary;
    border: 1px solid $TextColorBrown;
    border-radius: 2px;
    padding: 17px 12px;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.05em;
    color: $TextColorGrey;
    outline: none;
    display: flex;
    align-items: center;
    @media screen and (min-width: $tablet) {
      width: 288px;
    }
    &:focus {
      border-color: $TextColorBrown;
    }
  }
}
.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}
.select-wrapper {
  display: flex;
  flex-direction: column;
}
