.hero{
    position: relative;
    max-width: 1280px;
    height: 720px;
    padding-top: 164px;
    padding-bottom: 65px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient(to right,
            rgba(0, 0, 0, 0.65),
            rgba(0, 0, 0, 0.65)),
      url(/src/images/glasses.jpg);
    text-align: center;
}

.hero__title{
    margin-bottom: 24px;
    font-family: 'Film P3', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 1.08;
    letter-spacing: 0.3em;
    color: $TextColorWhite;
    
    // @media screen and(min-width: 1024px) {
    //     margin-bottom: 16px;
    //     font-size: 128px;
    // }

    //  @media screen and(min-width: 1280px) {
    //     margin-bottom: 32px;
    // }
}

.hero__subtitle{
    margin-bottom: 40px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: $TextColorWhite;

    //  @media screen and(min-width: 1024px) {
    //     margin-bottom: 56px;
    //     font-size: 20px;
    //     line-height: 1.2;
    // }

    //  @media screen and(min-width: 1280px) {
    //     margin-bottom: 64px;
    // }

}

.hero__discr{
    margin-bottom: 113px;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: $TextColorWhite;

    // @media screen and(min-width: 1024px) {
    //     margin-bottom: 145px;
    //     font-size: 36px;
    //     line-height: 1.14;
    // }

    //  @media screen and(min-width: 1280px) {
    //     margin-bottom: 144px;
    // }


}
.hero__box{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hero__link{
    position: absolute;
    top: 64px;
    left: 130px;
    display: flex;
    align-items: center;
    padding: 8px;
    border: 1px solid rgba(243, 198, 83, 0.7);
    border-radius: 2px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.01em;
    text-align: start;
    color: $SecondaryTextColor;
     
    
    // @media screen and(min-width: 1024px) {
    //   position: static;
    // }
}

.hero__icon{
    display: block;
    fill: $TextColorYellow;
    margin-right: 10px;
}

.hero__list{
    //  @media screen and(min-width: 1024px) {
    //   display: flex;
    // }

}    

.hero__item:not(:last-child){
    margin-bottom: 24px;
    // @media screen and(min-width: 1024px) {
    //   margin-bottom: 0;
    // }
}
// .hero__item + .hero__item{
//     @media screen  and (min-width: 1024px){
//       margin-left: 60px;  
//     }
    
// }