.rm-section-hero__slider-picture {
  width: 100%;
  height: auto;
}

.rm-section-hero__shadow {
  z-index: 4;
  position: absolute;
  width: 100%;
  height: 143px;
  left: 0px;
  top: -1px;

  background: linear-gradient(
    180deg,
    #000000 0%,
    rgba(0, 0, 0, 0.55) 54.17%,
    rgba(0, 0, 0, 0) 100%
  );
  @media screen and (min-width: 1024px) {
    height: 116px;
  }
  @media screen and (min-width: 1280px) {
    height: 147px;
  }
}

.rm-section-hero {
  position: relative;
  width: 100%;
  height: auto;
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;
  // padding-top: 483px;
  // padding-bottom: 40px;
  @media screen and (min-width: 414.001px) and (max-width: 1023.999px) {
    // padding-bottom: 118px;
  }

  @media screen and (min-width: 414px) {
    min-width: 414px;
    height: 720px;
  }

  // background-image: url(../images/room-dt1@1x.jpg);

  // @media screen and (min-device-pixel-ratio: 2),
  //   screen and (min-resolution: 192dpi),
  //   screen and (min-resolution: 2dppx) {
  //   background-image: url(../images/room-dt1@2x.jpg);
  // }

  @media screen and (min-width: 1024px) {
    position: relative;
    min-width: 1024px;
  }
  //   padding-top: 468px;
  //   padding-bottom: 22px;
  //   background-image: url(../images/room-t1@1x.jpg);

  //   @media screen and (min-device-pixel-ratio: 2),
  //     screen and (min-resolution: 192dpi),
  //     screen and (min-resolution: 2dppx) {
  //     background-image: url(../images/room-t1@2x.jpg);
  //   }
  //

  @media screen and (min-width: 1280px) {
    min-width: 1280px;
  }
  //   padding-top: 524px;
  //   padding-bottom: 48px;
  // }
}

.room__swiper-button-next,
.room__swiper-button-prev {
  z-index: 5;
  cursor: pointer;
  position: absolute;
  content: ' ';
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.65);
  top: 250px;
  @media screen and (min-width: 414px) {
    top: 350px;
  }
  @media screen and (min-width: 1024px) {
    top: 340px;
  }
  @media screen and (min-width: 1280px) {
    top: 387px;
  }
}
.room__swiper-button-next {
  right: 15px;

  @media screen and (min-width: 414px) {
    right: 15px;
  }
  @media screen and (min-width: 1024px) {
    right: 47px;
  }
  @media screen and (min-width: 1280px) {
    right: 85px;
  }
}
.room__swiper-button-prev {
  left: 15px;

  @media screen and (min-width: 414px) {
    left: 15px;
  }
  @media screen and (min-width: 1024px) {
    left: 47px;
  }
  @media screen and (min-width: 1280px) {
    left: 85px;
  }
}

.rm-section-hero__content {
  z-index: 5;
  position: absolute;
  content: ' ';
  max-width: 290px;
  left: 15px;
  bottom: 90px;

  @media screen and (min-width: 414px) {
    max-width: 350px;
    left: 15px;
    bottom: 118px;
  }

  @media screen and (min-width: 1024px) {
    max-width: 400px;
    left: 47px;
    bottom: 102px;
  }
  @media screen and (min-width: 1280px) {
    left: 85px;
    bottom: 48px;
  }
}
.rm-section-hero__title {
  color: $TextColorWhite;
  // max-width: 290px;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 28px;
  line-height: calc(32 / 28);
  letter-spacing: 0.05em;
  // @media screen and (min-width: 1024px) {
  //   max-width: 325px
  // }
  @media screen and (min-width: 1024px) {
    max-width: 550px;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(41 / 36);
    letter-spacing: 0.05em;
  }
}

.rm-section-hero__text {
  color: $TextColorWhite;
  // max-width: 290px;

  font-weight: 700;
  font-size: 12px;
  line-height: calc(15 / 12);
  letter-spacing: 0.02em;
  // @media screen and (min-width: 1024px) {
  //   max-width: 325px
  // }
  @media screen and (min-width: 1024px) {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
  }
}

.rm-section-hero__button {
  z-index: 5;
  position: absolute;
  content: ' ';
  right: 20px;
  bottom: 40px;
  @media screen and (min-width: 414.001px) and (max-width: 1023.999px) {
    position: absolute;
    content: ' ';
    right: 73px;
    bottom: 40px;
  }
  @media screen and (min-width: 1024px) {
    position: absolute;
    content: ' ';
    right: 47px;
    bottom: 62px;
  }

  @media screen and (min-width: 1280px) {
    right: 85px;
    bottom: 66px;
  }
}

.rm-section-hero__socials {
  z-index: 5;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 1023px) {
    position: absolute;
    content: ' ';
    bottom: 15px;
  }

  @media screen and (min-width: 1024px) {
    flex-direction: row;
    margin-bottom: 0px;
  }

  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.rm-section-hero__link {
  fill: $TextColorYellow;
}

.rm-section-hero__link:not(:last-child) {
  margin-bottom: 8px;
  @media screen and (min-width: 1024px) {
    margin-right: 23px;
    margin-bottom: 0px;
  }
}

.rm-section-hero__addres {
  @media screen and (max-width: 1023px) {
    display: none;
  }

  @media screen and (min-width: 1024px) {
    // width: 285px;
    // height: 56px;
    // background-color: aquamarine;
    margin-right: 40px;
  }

  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.rm-section-hero__contacts {
  z-index: 5;
  @media screen and (min-width: 1024px) {
    display: flex;
    align-items: center;
    position: absolute;
    content: ' ';
    bottom: 22px;
  }
}
