.modal-table {
  max-height: 100vh;
  overflow: auto;
  @media screen and (min-width: $tablet) {
    padding: 60px;
    .modal__lable--date {
      margin-bottom: 0;
    }
  }
}

.main-table-wrapper {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.modal__title--table {
  margin-bottom: 40px;
}
