.modal-price__first {
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
  }
}
.modal {
  &__under-title {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.05em;
    color: $TextColorGrey;
    display: flex;
    margin-bottom: 28px;
  }
  &__above-input {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;
    color: $TextColorBrown;
    margin-bottom: 20px;
    display: flex;
  }
}
